/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7; 
    background-image: url("Resources/assets/images/NeuralNet.jpg"); 
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;  /* Resize the background image to cover the entire container */ */

  }


  header {
    background: #333;
  }
  


  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    color: rgb(216, 6, 6);
    text-align: left;
  }
  

  h2 {
    padding: 10px 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(15, 145, 206);
    text-align: left;
  }

  h3 {
    padding: 5px 0;
    margin: 0;
    margin-bottom: 5px;
    text-decoration: ;
    font-size: 22px;
    font-weight: bold;
    color: rgb(237, 240, 235);
    text-align: left;
  }

  h4 {
    padding: 10px 0;
    margin: 0;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: normal;
    color: rgb(245, 248, 248);
    text-align: left;
  }

  h5 {
    padding: 1px 0px;
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(19, 5, 100);
    text-align: left;
  }

  h6 {
    padding: 0px 0;
    margin: 0;
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: 700;
    color: rgb(230, 42, 42);
    text-align: left;
  }

  em {
    padding: 10px 0px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(251, 251, 253);
    text-align: left;
  }



Two Column Flex Layout
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-child {
    flex: 1;
    flex-wrap: wrap;
    border: 2px solid rgba(12, 12, 11, 0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}  

.flex-child:first-child {
    flex-wrap: wrap;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
} 
  


/* Four Flexbox Layout */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color: rgba(94, 103, 119, 0.863);
}

.background-color {
  background-color: rgb(98, 115, 155);
  height: 100px;
}

.blue-column {
  background-color: rgb(115, 115, 221);
  height: 100px;
}

.green-column {
  background-color: green;
  height: 100px;
}


